<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Meal Type</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
