<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipee">
            <h2><span>Recipee</span> {{recipee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{recipee.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{recipee.description}}</span>
                </dd>
                <dt><span>Steps</span></dt>
                <dd>
                    <span>{{recipee.steps}}</span>
                </dd>
                <dt><span>Ingredient</span></dt>
                <dd>
                    <span *ngFor="let ingredient of recipee.ingredients; let last = last">
                        <a [routerLink]="['/ingredient', ingredient?.id, 'view' ]">{{ingredient.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Meal Type</span></dt>
                <dd>
                    <div *ngIf="recipee.mealTypeId">
                        <a [routerLink]="['/meal-type', recipee.mealTypeId, 'view']">{{recipee.mealTypeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="button"
                    [routerLink]="['/recipee', recipee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
